*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    position: relative;
    top: 100px;
    left: 500px;
    min-height: 100vh;
    background-color: black;
}

.cubo{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d; /*deixa 3d e não 2d*/
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cubo div {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /*deixa 3d e não 2d*/
}

.cubo div span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, purple);
    transform: rotateY(calc(90deg * var(--i)))
    translateZ(150px);
}

.top {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
    transform: rotateX(90deg) translateZ(150px);
}

.top::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: purple;
    transform: translateZ(-400px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgb(131, 0, 131, 0.2),
    0 0 200px rgb(131, 0, 131, 0.2),
    0 0 300px rgb(131, 0, 131, 0.4),
    0 0 400px rgb(131, 0, 131, 0.6),
    0 0 500px rgb(131, 0, 131, 0.8);
}

/*
filter: embaça
box-shadow: espalha
*/